#drum-machine {
    max-width: 660px;
    background-color: black;
    padding: 1.25em;
}

#display {
  padding: .6em;
  font-size: .8em;
  height: 4.2em;
}

#display-volume {
  width: 30%;
  font-size: .9em;
  margin: 0 auto;
  padding: 1.1em;
}

.notification {
  font-family: 'Press Start 2P', cursive;
}

.box {
  padding: .7em;
  margin-top: 1.5rem;
}

.button {
    font-family: Bungee, cursive;
    width: 100%;
    height: 20vh;
    opacity: .6;
    transition: opacity .3s ease-in-out;

    &:focus {
      border: white 2px solid;
    }
  }

.tag {
  margin-left: .5em;

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    cursor: pointer;
  }
}

//Buttons background colors
.violet-radial-background {
  background: radial-gradient(ellipse at center, #f9b6f8 29%, #e783ea 63%); }

.green-radial-background {
  background: radial-gradient(ellipse at center, #f8ffe8 0%, #e3f5ab 33%, #b7df2d 100%); }

.orange-radial-background {
  background: radial-gradient(ellipse at center, #ffe1bc 18%, #ffb459 97%); }
//end background colors


.title {
  font-family: Sarina, cursive;
  color: silver;
}

//Slider

input[type=range].slider {
  -webkit-appearance: none;
  width: 100%;
  margin-bottom: 1.5rem;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #1a0000, 0px 0px 1px #340000;
  background: rgba(255, 255, 255, 0.78);
  border-radius: 1.3px;
  border: 0.5px solid #010101;
}
input[type=range].slider::-webkit-slider-thumb {
  box-shadow: 3px 3px 1px #000031, 0px 0px 3px #00004b;
  border: 3.7px solid #7b5e1e;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #f0ff34;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.8px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: rgba(255, 255, 255, 0.78);
}
input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #1a0000, 0px 0px 1px #340000;
  background: rgba(255, 255, 255, 0.78);
  border-radius: 1.3px;
  border: 0.5px solid #010101;
}
input[type=range].slider::-moz-range-thumb {
  box-shadow: 3px 3px 1px #000031, 0px 0px 3px #00004b;
  border: 3.7px solid #7b5e1e;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #f0ff34;
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].slider::-ms-fill-lower {
  background: rgba(247, 247, 247, 0.78);
  border: 0.5px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #1a0000, 0px 0px 1px #340000;
}
input[type=range].slider::-ms-fill-upper {
  background: rgba(255, 255, 255, 0.78);
  border: 0.5px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #1a0000, 0px 0px 1px #340000;
}
input[type=range].slider::-ms-thumb {
  box-shadow: 3px 3px 1px #000031, 0px 0px 3px #00004b;
  border: 3.7px solid #7b5e1e;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #f0ff34;
  cursor: pointer;
  height: 11.4px;
}
input[type=range].slider:focus::-ms-fill-lower {
  background: rgba(255, 255, 255, 0.78);
}
input[type=range].slider:focus::-ms-fill-upper {
  background: rgba(255, 255, 255, 0.78);
}

// End of Slider

@media screen and (min-width: 769px) {
  #drum-machine {
    margin: 2em auto;
    border-radius: 10px;
    border: groove;
    box-shadow: inset 0px 0px 31px -1px rgba(196,190,196,1), 10px 9px 34px -1px rgba(107,95,107,0.74);
  }

  .button {
    border: groove;
    width: 6em;
    height: 6em;
  }
}